body {
    background-color: bisque;
    text-align: center;
}

fieldset {
    background-color: white;
    padding: 25px;
    text-align: left;
}

legend {
    font-weight: bold;
}

.btn, .btn:hover {
    background-color: darkgreen;
}

#message {
    font-size: larger;
}

label.error {
    /* Add a style here for your error messages */
}