* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	display: table;
	margin: auto;
}

body {
	background-color: #DDD;
	display: table-cell;
	vertical-align: center;
}

nav {	
	width: 120px;
	background-image: url(images/wrapper-bkgd.png);
	background-repeat: repeat-y;
	padding-right: 20px;
	height: 720px;
	display: inline-block;
}

nav img {
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	margin-left: -5px;
	text-align: center;
	margin-bottom: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #FFF;
	display: block;
}

header {
	height: 100px;
	width: 960px;
	background-image: url(images/header.jpg);	
}

header h1 {
	color: rgba(0, 0, 0, 0);
}

footer {
	background-image: url(images/footer.jpg);
	height: 50px;
	width: 960px;	
}

footer p {
	margin: 0 auto;
	color: #FFF;
	text-align: center;
	padding-top: 15px;
}

footer p a {
	text-decoration: none;
	color: #FFF;
}

#mainWindow {
	margin: 0 auto;
	width: 800px;
	float: right;
}

#mainWindow section {
	display: block;
	margin-top: 20px;
}

#mainWindow section p {
	display: inline-block;
}

#mainWindow section h2 {
	color: #000992;
}

#mainWindow section img {
}

#mainWindow section #text {
	float: right;
	width: 480px;
}

#topBorder {
	background-image: url(images/footer.jpg);
	width: 960px;
	height: 3px;
	margin: 3px 0 3px 0;	
}

#bottomBorder {
	background-image: url(images/wrapper-bkgd.png);
	width: 960px;
	height: 3px;
	margin: 3px 0 3px 0;	
}