body { font-family: Calibri, sans-serif; margin: 0; padding: 0; }

#container {
    margin: auto;
    margin-top: 300px;
    padding: 50px;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

#buttons { margin: 0 auto; }
#container p { margin: 0 auto; text-align: center; }