<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trilobites</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<h2>Trilobites</h2>
<img class="left" th:src="@{/img/trilobite-calymene-celebra.jpg}" alt="Calymene celebra">
<p>
    The trilobite Calymene celebra is Wisconsin's state fossil.
</p>
<p>
    Trilobites were a group of crab-like animals with hard exoskeletons (outer skeletons) similar to those of modern
    insects. Trilobites have a three-lobed body (B): Two grooves divide the body lengthwise into three sections. The
    middle section is the axial lobe; the other two sections are the pleural lobes. The body can also be divided into
    three
    sections from head to tail: the front section is the head, or cephalon, the middle section is the thorax, and the
    tail section is known as the pygidium. These marine animals had a series of small, bilobate (two-pronged) legs
    beneath
    their exoskeleton (A). One part of the leg, the exopodite, was used for walking; the other, the endopodite, was used
    for
    gas exchange or "breathing."
</p>
<p>
    On the cephalon, a series of lines, or facial sutures, are present. These sutures opened when trilobites molted
    their
    skeletons. The trilobite pushed itself out of its old skeleton and grew a new one; most trilobite fossils are
    instars,
    or molted skeletons. The region of the cephalon between the eyes and bounded by the sutures is called the glabella.
</p>
<p>
    Trilobites had compound eyes, much like those of insects. Some trilobites were adapted to mud-burrowing and
    possessed vestigial, or nonfunctional, eyes. Mud-burrowing trilobites had smooth, streamlined bodies.
</p>
<p>
    Trilobites first appeared in the Cambrian, but after a diversification, they dwindled and eventually became extinct
    during the Permian. Trilobite fossils are not common in Wisconsin. Generally, they form a large component of
    Cambrian fossil assemblages, and Ordovician rock commonly contains trilobite fragments. In Silurian rock, trilobites
    may be associated with reef-like habitats. Devonian trilobites are not particularly abundant. Fossil tracks of
    trilobites can be found on rock that was once the Paleozoic seafloor.
</p>
<p>Content taken from <a
        href="https://wgnhs.wisc.edu/wisconsin-geology/fossils-of-wisconsin/trilobite-gallery/trilobites/">here.</a></p>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>