<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="frags :: head"></head>
<body>
<header th:replace="frags :: logo"></header>

<div id="credits">
<a href="https://www.earthtouchnews.com/cute-and-cool/cute-and-cool/six-cool-squirrel-species-because-its-squirrel-appreciation-day/">Six Cool Squirrel Species</a>
<br/>
<a href="https://en.wikipedia.org/wiki/Indian_giant_squirrel">Indian giant squirrel</a>
<br/>
<a href="https://en.wikipedia.org/wiki/Prevost%27s_squirrel">Prevost's squirrel</a>
<br/>
<a href="https://en.wikipedia.org/wiki/Red_giant_flying_squirrel">Red giant flying squirrel</a>
<br/>
<a href="https://en.wikipedia.org/wiki/Japanese_dwarf_flying_squirrel">Japanese dwarf flying squirrel</a>
<br/>
<a href="https://en.wikipedia.org/wiki/Indian_giant_flying_squirrel">Indian giant flying squirrel</a>
<br/>
<a href="https://en.wikipedia.org/wiki/Grizzled_giant_squirrel">Grizzled giant squirrel</a>
</div>
</body>
</html>